<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>configureLocator(newX:newY)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/08-PlaySpheroPong.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>玩 Sphero Pong</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置定位器的当前 (x, y) 坐标。调用`configureLocator(newX: 0, newY: 0)`来重置定位器的位置。</string>
				<key>Title</key>
				<string>configureLocator(newX:newY)</string>
			</dict>
		</dict>
		<key>locator sensor</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/06-KeepingScore.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>记分</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>(x, y) 位置和速度。位置是相对于定位器原点的偏移量，以厘米为单位进行测量。速度以厘米/秒为单位进行测量。存储在`SensorData`的`locator`属性中。</string>
				<key>Title</key>
				<string>定位传感器</string>
			</dict>
		</dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>按指定的前进方向和速率滚动 Sphero。前进方向的范围为 0° 到 360°，速率的范围为 0 到 255。</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>setMainLed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/03-Aim.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>瞄准</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>更改主要 LED 灯的颜色。传递`UIColor`对象作为参数。您可以通过传递`.black`关掉灯。</string>
				<key>Title</key>
				<string>setMainLed(color:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置目标速率为 0，让 Sphero 停止。</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>等待数秒然后再运行下一步代码。</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>