<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>configureLocator(newX:newY)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/08-PlaySpheroPong.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Sphero Pong をプレイ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>現在のロケ－ター座標 (x, y) を設定します。`configureLocator(newX: 0, newY: 0)` を呼び出し、ロケーターの位置をリセットします。</string>
				<key>Title</key>
				<string>configureLocator(newX:newY)</string>
			</dict>
		</dict>
		<key>locator sensor</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/06-KeepingScore.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>スコアの記録</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>(x, y) での位置と速度です。位置は元のロケーター位置からセンチメートル単位で補正され、速度はセンチメートル毎秒単位で計測されます。これらのデータは `SensorData` の `locator` プロパティに保管されます。</string>
				<key>Title</key>
				<string>ロケーターセンサー</string>
			</dict>
		</dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>回転</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>指定した方向とスピードで Sphero を回転させます。方向は 0°～360°、スピードは 0～255 の範囲で指定できます。</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>setMainLed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/03-Aim.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>方向指定</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>メイン LED ライトの色を変更します。引数として `UIColor` オブジェクトを受け渡してください。`.black` を受け渡すことで、ライトをオフにできます。</string>
				<key>Title</key>
				<string>setMainLed(color:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>回転</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>スピードを 0 に設定すると Sphero は停止します。</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>回転</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>次のコードシークエンスを実行する前に、数秒間待機します。</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>