<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>configureLocator(newX:newY)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/08-PlaySpheroPong.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Sphero Pong spielen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Stell die aktuellen koordinaten (x, y) des Locators ein. Mithilfe der Funktion `configureLocator(newX: 0, newY: 0)` kannst Du die Position des Locators zurück setzen.</string>
				<key>Title</key>
				<string>configureLocator(newX:newY)</string>
			</dict>
		</dict>
		<key>locator sensor</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/06-KeepingScore.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Punktezählen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Die (x, y) Position und Geschwindigkeit. Die Position ist der Versatz vom Ursprung des Locators und wird in Zentimetern gemessen. Die Geschwindigkeit wird in Zentimetern pro Sekunde gemessen. Sie wird in den Eigenschaften `locator` der `SensorData` gespeichert.</string>
				<key>Title</key>
				<string>Locator-Sensor</string>
			</dict>
		</dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Lässt Sphero mit einer angegeben Geschwindigkeit in eine ausgewählte Richtung rollen. (Ausrichtung: 0° - 360°, Geschwindigkeit: 0 - 255)</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>setMainLed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/03-Aim.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Zielen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ändert die Farbe der Haupt-LEDs. Gib als Argument ein `UIColor` Objekt an. Du kannst die Lichter mithilfe von `.black` ausschalten.</string>
				<key>Title</key>
				<string>setMainLed(color:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Bringt die Zielgeschwindigkeit auf 0, um Sphero anzuhalten.</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Wartet einige Sekunden bis die nächste Codefolge ausgeführt wird.</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>