<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>configureLocator(newX:newY)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/08-PlaySpheroPong.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Jouer au Sphero Pong</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit les coordonnées actuelles (x, y) du localisateur. Appelle `configureLocator(newX: 0, newY: 0)` pour réinitialiser sa position.</string>
				<key>Title</key>
				<string>configureLocator(newX:newY)</string>
			</dict>
		</dict>
		<key>locator sensor</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>02-SpheroPong.playgroundchapter/06-KeepingScore.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Compter les points</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Position (x, y) et vitesse. La position est la distance depuis le point d'origine du localisateur, elle est mesurée en centimètres. La vitesse est mesurée en centimètres par seconde et est stockée dans la propriété `locator` de `SensorData`.</string>
				<key>Title</key>
				<string>capteur de localisation</string>
			</dict>
		</dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rouler</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Fait rouler Sphero à une vitesse donnée dans une direction donnée. La vitesse va de 0 à 255 et la direction est comprise entre 0° et 360°.</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>setMainLed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/03-Aim.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Viser</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Modifie la couleur des LED principales. Passe un objet `UIColor` comme argument. Tu peux désactiver les LED en passant en `.black`.</string>
				<key>Title</key>
				<string>setMainLed(color:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rouler</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Règle la vitesse de Sphero sur 0 et le fait s’arrêter.</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rouler</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit un temps d'attente mesuré en secondes avant d’exécuter la séquence de code suivante.</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>